*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(237, 182, 190, 0.584);
}
.btn-primary{
    background-color: pink;
    border-color: pink;
}
.accordion {
    /* Border */
    border: 2px solid black;
    border-radius: 4px;
    
}
.accordion-button:not(.collapsed){
    color: pink;
    background-color: black;
}
.accordion__item {
    border-bottom: 1px solid #d1d5db;
    border-width: 30px;
}

.accordion__header {
    /* Center the content horizontally */
    align-items: center;
    display: flex;

    cursor: pointer;
    padding: 16px;
}

.accordion__toggle {
    margin-right: 12px;
}

.accordion__title {
    /* Take remaining width */
    flex: 1;
}

.accordion__content {
    border-top: 1px solid #d1c0cd;
    padding: 16px;
}

.accordion__item--collapsed .accordion__content {
    display: none;
}
.accordion__item--expanded .accordion__content {
    display: block;
}